//
   Created by wangyc on 15-2-23.

extends layout

block content
  div.ui.segment
    - var keywords = {'iPhone6': 'iPhone6', 'MaYun': '马云', 'Marriage': '结婚', 'InterStellar': '星际穿越', 'BaBaQuNar': '爸爸去哪儿', 'DoubleEleven': '双十一', 'DuJiaoShou': '都教授', 'Frozen': '冰雪奇缘', 'RunningMan': '奔跑吧兄弟', 'WuMai': '雾霾', 'XiaoLongNv': '小龙女'}
    - for (var key in keywords)
    if keywords[key] == keyword
      a.ui.tag.green.label('id'=key)= keywords[key]
    else
      a.ui.tag.label('id'=key)= keywords[key]
    script.
      $(document).ready(function () {
        $('.ui.tag.label').click(function () {
          window.location = $(location)[0].origin + '/label?kw=' + $(this).attr('id');
        })
      })

    div.ui.right.labeled.icon.red.button
      i.sign.out.icon
      label Sign out

  div.ui.page.grid
    div.row
      div.wide.column
        div.ui.card(style={float: left})
          div.content
            div#username.header #{username}
            div.ui.divided.list
              div.item
                div#labelCount.right.floated.compact.ui.label 102
                i.large.write.icon
                div.content
                  b Label
              div.item
                div#validateCount.right.floated.compact.ui.orange.label 92
                i.large.check.circle.icon
                div.content
                  b Check

        div.ui.threaded.comments
          h3.ui.dividing.header 关键词：#{keyword}
          each row in rows
            div.comment(id=row['number'], style={'margin-left': 40 * row['depth'] + 'px'})
              div.content
                a.author= row['username']
                if row['text']
                  div.text= row['text']
                else
                  div.text= '转发微博'
                div.ui.form
                  div.grouped.inline.fields
                    div.field
                      div.ui.radio.checkbox
                        input(type="radio", name="positive")
                        label +1
                    div.field
                      div.ui.radio.checkbox
                        input(type="radio", name="neutral")
                        label 0
                    div.field
                      div.ui.radio.checkbox
                        input(type="radio", name="negative")
                        label -1
          div.ui.divider
            div.row
              div.ui.labeled.icon.green.button
                i.cloud.upload.icon
                label Submit
              div.ui.right.labeled.icon.blue.button
                i.right.arrow.icon
                label Next
