//
  Created by wangyc on 15-2-23.
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='thirdparty/semantic-ui/semantic.css')
    link(rel='stylesheet', href='css/style.css')
    script(src='js/jquery.min.js')
    script(src='js/jquery.session.js')
    script(src='thirdparty/semantic-ui/semantic.js')
    script(src='js/label.js')
    
    link(rel="stylesheet" type="text/css" href="thirdparty/semantic-ui/dropdown.css")
    script(src="thirdparty/semantic-ui/dropdown.js" type="text/javascript")
    body
    block content
      div.ui.segment
        h2.ui.segment
          i.comments.icon
          div.content 微博情感标注平台
            div(class="sub header") Beta
        div.ui.breadcrumb
          a.section Home
          div.divider |
          if isSuper == 1
            a.section(href="/overview") overview
            div.divider |
            a.section(href="/check") check
            div.divider |
          div(class="active section") label
          div.divider
          div.section > 
          div.section(id="topic_val", key=topicid, val=topicname)= topicname
          div.ui.right.labeled.icon.red.button(style={'position': 'absolute', 'right': '30px'})
            i.sign.out.icon
            label Sign out


        - var keywords = { 'Interstellar': '星际穿越', 'BaBaQuNar': '爸爸去哪儿', 'Frozen': '冰雪奇缘', 'RunningMan': '奔跑吧兄弟', 'WuMai': '雾霾', 'NewsEvent': '新闻事件'}
        
        div.ui.segment
          each keyword_list, topic_name in topic_list
            div.ui.dropdown.link.item(style="margin-left:10px;")
              div.text= topic_name
              i.dropdown.icon
              div.menu
                div.header= topic_name
                each keyword, id in keyword_list
                   a.item.topic_item(href="/label?topicid="+id+"&topicname="+keyword,  "id"=id, "name"=keyword)= keyword
                    
            
        // div.ui.segment
        //  - for (var key in keywords)
        //    if key == keyword
        //      a.ui.tag.green.label('id'=key)= keywords[key]
        //    else
        //      a.ui.tag.label('id'=key)= keywords[key]
        
          
        script.
          $(document).ready(function () {
          
            $('.ui.dropdown').dropdown();
            $(".topic_item").click(function() {
              // $.cookie("topicid", $(this).attr("id"));
              window.location = $(location)[0].origin + "/label?topicid="
              + $(this).attr("id")+"&keyword=" + $(this).attr("name");
            });
            
            $('.ui.tag.label').click(function () {
              $.cookie('keyword', $(this).attr('id'));
              window.location = $(location)[0].origin + '/label?kw=' + $(this).attr('id');
            })
            $('.right.icon.red.button').click(function () {
              $.ajax({
                type: "POST",
                url: "/logout",
                data: "",
                success: function(result) {
                  window.location = $(location)[0].origin + "/index";
                }
              });
            })          
          })
  
      div.ui.page.grid
        div.row
          div.ui.ten.wide.column
            if rows.length
              div.ui.threaded.comments(id=rows[0]['threadid'])
                h3.ui.dividing.header= '关键词：' + topicname
                each row in rows
                  div.comment(id=row['number'], style={'margin-left': 40 * row['depth'] + 'px'})
                    div.content
                      a.author(style="color:#337b92")= row['username']
                      if row['text']
                        div.text= row['text']
                      else
                        div.text= '转发微博'
                      div.ui.form
                        div.grouped.inline.fields
                          div.field
                            div.ui.radio.checkbox
                              input(type="radio", name="sentiment" + row['number'], value="positive")
                              label +1
                          div.field
                            div.ui.radio.checkbox
                              input(type="radio", name="sentiment" + row['number'], value="neutral")
                              label 0
                          div.field
                            div.ui.radio.checkbox   
                              input(type="radio", name="sentiment" + row['number'], value="negative")
                              label -1
                script.
                  $(document).ready(function () {
                    $('.ui.checkbox').checkbox();
                  })
              div.ui.divider
              br
              div.section
                p(style="color:green") 您认为该序列中上下文信息是否有助于您对情感方向的判断？
                div.ui.form
                  div.grouped.inline.fields
                    div.field
                      div.ui.radio.checkbox
                        input(type="radio", name="if_related", value="1")
                        label 有
                    div.field
                      div.ui.radio.checkbox
                        input(type="radio", name="if_related", value="-1")
                        label 没有
                        
              div.ui.divider
              br
              div.row(style={'float': 'right'})
                div#submit.ui.labeled.icon.green.button
                  i.cloud.upload.icon
                  p Submit
                div#trash.ui.labeled.icon.red.button(onclick='confirm_trash()')
                  i.trash.icon
                  p Trash
                div#next.ui.right.labeled.icon.blue.disabled.button
                  i.right.arrow.icon
                  p Next
            else
              h3.ui.dividing.header= '关键词：' + topicname
              div.ui.icon.warning.message
                i.smile.icon
                div.content
                  div.header= '这里的数据已经标完了哦！'
                  p 你可以去看看别的关键词

          div.ui.four.wide.column
            div.ui.card
              div.content
                div#username.header #{username}
                div.ui.divided.list
                  div.item
                    div#labelCount.right.floated.compact.ui.orange.label #{labelCount}
                    i.large.write.icon
                    div.content
                      b Label
                  div.item
                    div#validateCount.right.floated.compact.ui.green.label #{validateCount}
                    i.large.check.circle.icon
                    div.content
                      b Check
            br
            div.ui.info.message
              div.header= '标注说明'
              p 请对每一段微博文字的情感倾向进行评价，微博之间具有转发关系，标注时请参考上下文，从直觉出发进行选择。
              ul.list
                li +1：倾向于正面、乐观的情感
                li 0：情感上保持中立，或没有表达任何情感
                li -1：倾向于负面、悲观的情感
                li Trash：当微博与话题无关，或为广告、营销内容时，请丢弃它；被丢弃的微博不记入标注数量
