//
  Created by wangyc on 15-2-23.
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='css/semantic.min.css')
    link(rel='stylesheet', href='css/style.css')
    script(src='js/jquery.min.js')
    script(src='js/jquery.session.js')
    script(src='js/semantic.min.js')
    script(src='js/label.js')
  body
    block content
      div.ui.segment
        h2.ui.segment
          i.comments.icon
          div.content 微博情感标注平台
            div(class="sub header") Beta
        div.ui.breadcrumb
          a.section Home
          div.divider |
          if isSuper == 1
            a.section(href="/overview") overview
            div.divider |
            a.section(href="/check") check
            div.divider |
          div(class="active section") label
          div.ui.right.labeled.icon.red.button(style={'position': 'absolute', 'right': '30px'})
            i.sign.out.icon
            label Sign out

        - var keywords = {'iPhone6': 'iPhone6', 'MaYun': '马云', 'Marriage': '结婚', 'Interstellar': '星际穿越', 'BaBaQuNar': '爸爸去哪儿', 'DoubleEleven': '双十一', 'DuJiaoShou': '都教授', 'Frozen': '冰雪奇缘', 'RunningMan': '奔跑吧兄弟', 'WuMai': '雾霾', 'XiaoLongNv': '小龙女'}
        div.ui.segment
          - for (var key in keywords)
            if key == keyword
              a.ui.tag.green.label('id'=key)= keywords[key]
            else
              a.ui.tag.label('id'=key)= keywords[key]
        
          
        script.
          $(document).ready(function () {
            $('.ui.tag.label').click(function () {
              $.cookie('keyword', $(this).attr('id'));
              window.location = $(location)[0].origin + '/label?kw=' + $(this).attr('id');
            })
            $('.right.icon.red.button').click(function () {
              $.ajax({
                type: "POST",
                url: "/logout",
                data: "",
                success: function(result) {
                  alert("logout");
                  window.location = $(location)[0].origin + "/index";
                }
              });
            })          
          })
  
      div.ui.page.grid
        div.row
          div.ui.ten.wide.column
            div.ui.threaded.comments(id=rows[0]['id'])
              h3.ui.dividing.header= '关键词：' + keywords[keyword]
              each row in rows
                div.comment(id=row['number'], style={'margin-left': 40 * row['depth'] + 'px'})
                  div.content
                    a.author= row['username']
                    if row['text']
                      div.text= row['text']
                    else
                      div.text= '转发微博'
                    div.ui.form
                      div.grouped.inline.fields
                        div.field
                          div.ui.radio.checkbox
                            input(type="radio", name="sentiment" + row['number'], value="positive")
                            label +1
                        div.field
                          div.ui.radio.checkbox
                            input(type="radio", name="sentiment" + row['number'], value="neutral")
                            label 0
                        div.field
                          div.ui.radio.checkbox
                            input(type="radio", name="sentiment" + row['number'], value="negative")
                            label -1
                script.
                  $(document).ready(function () {
                    $('.ui.checkbox').checkbox();
                  })
              div.ui.divider
                div.row
                  div#submit.ui.labeled.icon.green.button
                    i.cloud.upload.icon
                    p Submit
                  div#trash.ui.labeled.icon.red.button(onclick='confirm_trash()')
                    i.trash.icon
                    p Trash
                  div#next.ui.right.labeled.icon.blue.disabled.button
                    i.right.arrow.icon
                    p Next
               
          div.ui.four.wide.column
            div.ui.card
              div.content
                div#username.header #{username}
                div.ui.divided.list
                  div.item
                    div#labelCount.right.floated.compact.ui.orange.label #{labelCount}
                    i.large.write.icon
                    div.content
                      b Label
                  div.item
                    div#validateCount.right.floated.compact.ui.green.label #{validateCount}
                    i.large.check.circle.icon
                    div.content
                      b Check
                  div.item
                    p 标注规则：请对每一段微博文字的情感倾向进行评价。认为该段文字表述出的情绪为“积极”的，请选择 +1, 中立的选择 0, 相应负面的情绪选择 -1。所有评价请从直觉出发进行选择就可以了，不用过分追究。
